body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  header {
    padding: 20px;
    background: #fff;
    text-align: center;
    font-size: 1em;
  }
  
  header h1 {
    margin: 0;
    padding: 10px 0;
  }
  
  header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  header ul {
    list-style: none;
    padding: 0;
  }
  
  header ul li {
    display: inline;
    margin-right: 10px;
  }
  
  section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    font-size: 1em;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  section ul {
    list-style: none;
    padding: 0;
  }
  
  section ul li {
    margin-bottom: 10px;
  }
  

  .content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s, max-height 0.5s;
}

.expandable.active .content {
    opacity: 1;
}

.arrow-container {
  background-color: rgb(48, 183, 255);
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  
}

.arrow {
  color: #fff;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #ffffff;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.expandable.active .arrow {
  transform: rotate(180deg);
}

#redlaunch {
  border-radius: 4px;
  cursor: pointer;
}

form#my-form {
  background: #fff;
  margin: 20px auto; 
  max-width: 500px; 
  font-size: 1em;
}

form#my-form label {
  display: block;
  font-size: 0.8em;
  color: #333;
}

form#my-form input, form#my-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 0.8em;
}

form#my-form button {
  background-color: rgb(48, 183, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

form#my-form button:hover {
  background-color: rgb(48, 183, 255);
}

#form-status {
  margin-top: 20px;
  font-size: 1em;
}
